USE [master]
GO
/****** Object:  Database [DinhHieuDB]    Script Date: 29/6/2026 12:39:10 pm ******/
CREATE DATABASE [DinhHieuDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DinhHieuDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DinhHieuDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DinhHieuDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DinhHieuDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DinhHieuDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DinhHieuDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[Label] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ImageUrl] [nvarchar](1000) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[ShortDesc] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Materials] [nvarchar](1000) NULL,
	[Dimensions] [nvarchar](300) NULL,
	[ShippingInfo] [nvarchar](1000) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OriginalPrice] [decimal](18, 2) NULL,
	[Badge] [nvarchar](50) NULL,
	[BadgeStyle] [nvarchar](20) NULL,
	[IsFeatured] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[ThumbnailUrl] [nvarchar](1000) NULL,
	[ThumbnailPath] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CreatedByUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Url] [nvarchar](1000) NOT NULL,
	[FilePath] [nvarchar](1000) NULL,
	[AltText] [nvarchar](300) NULL,
	[SortOrder] [tinyint] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[AuthorName] [nvarchar](150) NOT NULL,
	[AuthorTitle] [nvarchar](200) NULL,
	[Rating] [tinyint] NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[IsHomepage] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductList]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ╔══════════════════════════════════════════════════════════════════════════╗
-- ║                    STORED PROCEDURES & VIEWS                            ║
-- ╚══════════════════════════════════════════════════════════════════════════╝

-- V1. VIEW: Danh sách sản phẩm đầy đủ
CREATE   VIEW [dbo].[vw_ProductList] AS
SELECT
    p.Id,
    p.Name,
    p.Slug,
    p.ShortDesc,
    p.Price,
    p.OriginalPrice,
    CASE WHEN p.OriginalPrice IS NOT NULL AND p.OriginalPrice > p.Price
         THEN CAST(ROUND((1 - p.Price / p.OriginalPrice) * 100, 0) AS INT)
         ELSE NULL END AS DiscountPct,
    p.Badge,
    p.BadgeStyle,
    p.IsFeatured,
    p.StockQuantity,
    p.IsActive,
    p.ThumbnailUrl,
    p.CreatedAt,
    p.UpdatedAt,
    c.Id AS CategoryId,
    c.Name AS CategoryName,
    c.Slug AS CategorySlug,
    c.Label AS CategoryLabel,
    ISNULL(r.AvgRating, 0) AS AvgRating,
    ISNULL(r.TotalReviews, 0) AS TotalReviews,
    ISNULL(img.ImageCount, 0) AS ImageCount
FROM Products p
INNER JOIN Categories c ON c.Id = p.CategoryId
LEFT JOIN (
    SELECT ProductId,
           CAST(AVG(CAST(Rating AS FLOAT)) AS DECIMAL(3,1)) AS AvgRating,
           COUNT(*) AS TotalReviews
    FROM Reviews WHERE IsApproved = 1
    GROUP BY ProductId
) r ON r.ProductId = p.Id
LEFT JOIN (
    SELECT ProductId, COUNT(*) AS ImageCount
    FROM ProductImages GROUP BY ProductId
) img ON img.ProductId = p.Id;
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[ProductSku] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](1000) NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LineTotal]  AS ([UnitPrice]*[Quantity]) PERSISTED,
	[SelectedColor] [nvarchar](100) NULL,
	[SelectedSize] [nvarchar](50) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Age] [tinyint] NULL,
	[AvatarUrl] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode]  AS (N'VD-'+right(N'000000'+CONVERT([nvarchar](6),[Id]),(6))) PERSISTED,
	[UserId] [nvarchar](450) NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[CustomerEmail] [nvarchar](256) NOT NULL,
	[CustomerPhone] [nvarchar](30) NOT NULL,
	[ShipAddress] [nvarchar](500) NOT NULL,
	[ShipCity] [nvarchar](100) NOT NULL,
	[ShipCountry] [nvarchar](100) NOT NULL,
	[ShipPostalCode] [nvarchar](20) NULL,
	[Note] [nvarchar](1000) NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[OrderedAt] [datetime2](7) NOT NULL,
	[ConfirmedAt] [datetime2](7) NULL,
	[ShippedAt] [datetime2](7) NULL,
	[DeliveredAt] [datetime2](7) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[ProcessedByAdminId] [nvarchar](450) NULL,
	[CouponCode] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderSummary]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- V2. VIEW: Đơn hàng đầy đủ
CREATE   VIEW [dbo].[vw_OrderSummary] AS
SELECT
    o.Id,
    o.OrderCode,
    o.CustomerName,
    o.CustomerEmail,
    o.CustomerPhone,
    o.ShipCity,
    o.ShipCountry,
    o.TotalAmount,
    o.Status,
    o.PaymentMethod,
    o.PaymentStatus,
    o.OrderedAt,
    o.DeliveredAt,
    u.FullName AS RegisteredUserName,
    u.Email AS RegisteredUserEmail,
    d.ItemCount,
    d.TotalQty
FROM Orders o
LEFT JOIN AspNetUsers u ON u.Id = o.UserId
LEFT JOIN (
    SELECT OrderId, COUNT(*) AS ItemCount, SUM(Quantity) AS TotalQty
    FROM OrderDetails GROUP BY OrderId
) d ON d.OrderId = o.Id;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiLogs]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Endpoint] [nvarchar](500) NOT NULL,
	[Method] [nvarchar](10) NOT NULL,
	[StatusCode] [smallint] NOT NULL,
	[RequestBody] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[DurationMs] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ApiLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionKey] [nvarchar](100) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SelectedColor] [nvarchar](100) NULL,
	[SelectedSize] [nvarchar](50) NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Subject] [nvarchar](300) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsReplied] [bit] NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RepliedAt] [datetime2](7) NULL,
	[RepliedById] [nvarchar](450) NULL,
 CONSTRAINT [PK_ContactMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinOrderAmount] [decimal](18, 2) NOT NULL,
	[MaxUsage] [int] NULL,
	[UsageCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsletterSubscribers]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsletterSubscribers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[SubscribedAt] [datetime2](7) NOT NULL,
	[UnsubscribedAt] [datetime2](7) NULL,
	[ConfirmToken] [nvarchar](200) NULL,
	[IsConfirmed] [bit] NOT NULL,
 CONSTRAINT [PK_NewsletterSubscribers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductColors]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ColorName] [nvarchar](100) NOT NULL,
	[HexCode] [nchar](7) NULL,
	[SortOrder] [tinyint] NOT NULL,
 CONSTRAINT [PK_ProductColors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSizes]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SizeName] [nvarchar](50) NOT NULL,
	[SortOrder] [tinyint] NOT NULL,
 CONSTRAINT [PK_ProductSizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishlistItems]    Script Date: 29/6/2026 12:39:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishlistItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ProductId] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WishlistItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [Description]) VALUES (N'role-admin-001', N'Admin', N'ADMIN', N'484B9E78-E016-4B6C-A1D1-3A4CAF40359D', N'Quản trị viên toàn hệ thống')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [Description]) VALUES (N'role-manager-001', N'Manager', N'MANAGER', N'5B1EB509-F8C8-4A0F-9C8B-CEC53BA6617B', N'Quản lý sản phẩm và đơn hàng')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [Description]) VALUES (N'role-staff-001', N'Staff', N'STAFF', N'5B837370-6167-4732-BD13-7BFB9782BF7B', N'Nhân viên xem và xử lý đơn hàng')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'663e81d3-30a9-4e0e-9ddd-9813540e50eb', N'role-user-001')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'971f53f3-504a-4925-9aa6-1912571f4504', N'role-user-001')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e73eaab4-534e-42d2-876f-a8316365a212', N'role-admin-001')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Label], [Description], [ImageUrl], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Túi Xách', N'bags', N'Bags & Leather Goods', N'Da cao cấp thủ công từ những xưởng da tốt nhất Italy và Pháp.', N'https://images.unsplash.com/photo-1548036328-c9fa89d128fa?w=800&q=80', 1, 1, CAST(N'2026-06-29T04:05:35.9715334' AS DateTime2), CAST(N'2026-06-29T04:05:35.9715334' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Label], [Description], [ImageUrl], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Đồng Hồ', N'timepieces', N'Timepieces', N'Cơ chế Thụy Sĩ chính xác, thiết kế vượt thời gian.', N'https://images.unsplash.com/photo-1523275335684-37898b6baf30?w=800&q=80', 2, 1, CAST(N'2026-06-29T04:05:35.9715334' AS DateTime2), CAST(N'2026-06-29T04:05:35.9715334' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Label], [Description], [ImageUrl], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Lụa & Cashmere', N'scarves', N'Silk & Cashmere', N'Lụa Twill cao cấp và cashmere Mông Cổ Grade A.', N'https://images.unsplash.com/photo-1594938298603-c8148c4dae35?w=800&q=80', 3, 1, CAST(N'2026-06-29T04:05:35.9715334' AS DateTime2), CAST(N'2026-06-29T04:05:35.9715334' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([Id], [FullName], [Email], [Phone], [Subject], [Message], [IsRead], [IsReplied], [IpAddress], [CreatedAt], [RepliedAt], [RepliedById]) VALUES (1, N'Lê Hoàng Nam', N'hoangnam@example.com', N'+84901112233', N'Hỏi về dịch vụ may đo riêng', N'Xin chào team DinhHieu. Tôi muốn hỏi về dịch vụ may đo riêng cho áo blazer.', 0, 0, NULL, CAST(N'2026-06-29T04:05:36.0989231' AS DateTime2), NULL, NULL)
INSERT [dbo].[ContactMessages] ([Id], [FullName], [Email], [Phone], [Subject], [Message], [IsRead], [IsReplied], [IpAddress], [CreatedAt], [RepliedAt], [RepliedById]) VALUES (2, N'Ngô Thị Lan', N'ngtlan@example.com', NULL, N'Muốn mua làm quà cưới', N'Tôi đang tìm một món quà cưới thật đặc biệt cho bạn thân.', 1, 0, NULL, CAST(N'2026-06-29T04:05:36.0989231' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([Id], [Code], [Description], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxUsage], [UsageCount], [IsActive], [ExpiresAt], [CreatedAt]) VALUES (1, N'WELCOME10', N'Giảm 10% cho đơn hàng đầu tiên', N'Percentage', CAST(10.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), 500, 0, 1, CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-29T04:05:36.0414801' AS DateTime2))
INSERT [dbo].[Coupons] ([Id], [Code], [Description], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxUsage], [UsageCount], [IsActive], [ExpiresAt], [CreatedAt]) VALUES (2, N'VIP20', N'Giảm 20% dành riêng cho VIP members', N'Percentage', CAST(20.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), 100, 0, 1, CAST(N'2025-09-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-29T04:05:36.0414801' AS DateTime2))
INSERT [dbo].[Coupons] ([Id], [Code], [Description], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxUsage], [UsageCount], [IsActive], [ExpiresAt], [CreatedAt]) VALUES (3, N'SUMMER300', N'Giảm $300 khi mua từ $3000', N'FixedAmount', CAST(300.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), 200, 0, 1, CAST(N'2025-08-31T00:00:00.0000000' AS DateTime2), CAST(N'2026-06-29T04:05:36.0414801' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsletterSubscribers] ON 

INSERT [dbo].[NewsletterSubscribers] ([Id], [Email], [FullName], [IsActive], [SubscribedAt], [UnsubscribedAt], [ConfirmToken], [IsConfirmed]) VALUES (1, N'fanDinhHieu01@gmail.com', N'Nguyễn Thành Đạt', 1, CAST(N'2026-06-29T04:05:36.1029192' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[NewsletterSubscribers] ([Id], [Email], [FullName], [IsActive], [SubscribedAt], [UnsubscribedAt], [ConfirmToken], [IsConfirmed]) VALUES (2, N'luxurylover@yahoo.com', NULL, 1, CAST(N'2026-06-29T04:05:36.1029192' AS DateTime2), NULL, NULL, 1)
INSERT [dbo].[NewsletterSubscribers] ([Id], [Email], [FullName], [IsActive], [SubscribedAt], [UnsubscribedAt], [ConfirmToken], [IsConfirmed]) VALUES (3, N'style.vn@outlook.com', N'Phạm Thu Hà', 1, CAST(N'2026-06-29T04:05:36.1029192' AS DateTime2), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[NewsletterSubscribers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [ProductName], [ProductSku], [ImageUrl], [UnitPrice], [Quantity], [SelectedColor], [SelectedSize]) VALUES (3, 3, 12, N'Châle Cachemire', NULL, NULL, CAST(890.00 AS Decimal(18, 2)), 1, N'Beige & Or', NULL)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [ProductName], [ProductSku], [ImageUrl], [UnitPrice], [Quantity], [SelectedColor], [SelectedSize]) VALUES (4, 3, 11, N'Montre Squelette', NULL, NULL, CAST(24500.00 AS Decimal(18, 2)), 2, N'Platinum', N'Brown')
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductColors] ON 

INSERT [dbo].[ProductColors] ([Id], [ProductId], [ColorName], [HexCode], [SortOrder]) VALUES (1, 1, N'Noir', N'#1A1814', 0)
INSERT [dbo].[ProductColors] ([Id], [ProductId], [ColorName], [HexCode], [SortOrder]) VALUES (2, 1, N'Camel', N'#C19A6B', 1)
INSERT [dbo].[ProductColors] ([Id], [ProductId], [ColorName], [HexCode], [SortOrder]) VALUES (3, 1, N'Bordeaux', N'#722F37', 2)
SET IDENTITY_INSERT [dbo].[ProductColors] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [Url], [FilePath], [AltText], [SortOrder], [IsPrimary], [CreatedAt]) VALUES (1, 1, N'https://images.unsplash.com/photo-1548036328-c9fa89d128fa?w=900&q=85', NULL, N'Riviera Bag - Front', 0, 1, CAST(N'2026-06-29T04:05:36.0090528' AS DateTime2))
INSERT [dbo].[ProductImages] ([Id], [ProductId], [Url], [FilePath], [AltText], [SortOrder], [IsPrimary], [CreatedAt]) VALUES (2, 1, N'https://images.unsplash.com/photo-1591561954557-26941169b49e?w=900&q=85', NULL, N'Riviera Bag - Side', 1, 0, CAST(N'2026-06-29T04:05:36.0090528' AS DateTime2))
INSERT [dbo].[ProductImages] ([Id], [ProductId], [Url], [FilePath], [AltText], [SortOrder], [IsPrimary], [CreatedAt]) VALUES (3, 1, N'https://images.unsplash.com/photo-1584917865442-de89df76afd3?w=900&q=85', NULL, N'Riviera Bag - Detail', 2, 0, CAST(N'2026-06-29T04:05:36.0090528' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSizes] ON 

INSERT [dbo].[ProductSizes] ([Id], [ProductId], [SizeName], [SortOrder]) VALUES (1, 5, N'XS', 0)
INSERT [dbo].[ProductSizes] ([Id], [ProductId], [SizeName], [SortOrder]) VALUES (2, 5, N'S', 1)
INSERT [dbo].[ProductSizes] ([Id], [ProductId], [SizeName], [SortOrder]) VALUES (3, 5, N'M', 2)
SET IDENTITY_INSERT [dbo].[ProductSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [AuthorName], [AuthorTitle], [Rating], [Content], [IsApproved], [IsHomepage], [CreatedAt]) VALUES (1, 1, N'user-cust-001', N'Sơn Tùng MTP', N'Ca sĩ top 1 Việt Nam', 5, N'Mỗi lần cầm chiếc túi Riviera trên tay, tôi biết mình đang giữ một tác phẩm nghệ thuật.', 1, 1, CAST(N'2026-06-29T04:05:36.0364772' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [AuthorName], [AuthorTitle], [Rating], [Content], [IsApproved], [IsHomepage], [CreatedAt]) VALUES (2, 2, N'user-cust-002', N'Nguyễn Ánh Thư', N'Fashion Director, L''Officiel Vietnam', 5, N'Chronos Noir là chiếc đồng hồ tôi mặc mỗi ngày.', 1, 0, CAST(N'2026-06-29T04:05:36.0364772' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [AuthorName], [AuthorTitle], [Rating], [Content], [IsApproved], [IsHomepage], [CreatedAt]) VALUES (3, 6, N'user-cust-001', N'Sơn Tùng MTP', N'Ca sĩ', 5, N'Tặng cho người thân nhân dịp sinh nhật. Chiếc nhẫn đẹp hơn tôi tưởng.', 1, 0, CAST(N'2026-06-29T04:05:36.0364772' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
/****** Object:  Index [IX_ApiLogs_CreatedAt]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_ApiLogs_CreatedAt] ON [dbo].[ApiLogs]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApiLogs_Endpoint]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_ApiLogs_Endpoint] ON [dbo].[ApiLogs]
(
	[Endpoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AspNetRoles_NormalizedName]    Script Date: 29/6/2026 12:39:11 pm ******/
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [UQ_AspNetRoles_NormalizedName] UNIQUE NONCLUSTERED 
(
	[NormalizedName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AspNetUsers_NormalizedEmail]    Script Date: 29/6/2026 12:39:11 pm ******/
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [UQ_AspNetUsers_NormalizedEmail] UNIQUE NONCLUSTERED 
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AspNetUsers_NormalizedUserName]    Script Date: 29/6/2026 12:39:11 pm ******/
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [UQ_AspNetUsers_NormalizedUserName] UNIQUE NONCLUSTERED 
(
	[NormalizedUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CartItems_SessionKey]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_SessionKey] ON [dbo].[CartItems]
(
	[SessionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CartItems_UserId]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_UserId] ON [dbo].[CartItems]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_Slug]    Script Date: 29/6/2026 12:39:11 pm ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_Slug] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_Slug]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Categories_Slug] ON [dbo].[Categories]
(
	[Slug] ASC
)
INCLUDE([Name],[Label]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Coupons_Code]    Script Date: 29/6/2026 12:39:11 pm ******/
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [UQ_Coupons_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NewsletterSubscribers_Email]    Script Date: 29/6/2026 12:39:11 pm ******/
ALTER TABLE [dbo].[NewsletterSubscribers] ADD  CONSTRAINT [UQ_NewsletterSubscribers_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductId]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderedAt]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderedAt] ON [dbo].[Orders]
(
	[OrderedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_Status]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Status] ON [dbo].[Orders]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Products_Slug]    Script Date: 29/6/2026 12:39:11 pm ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [UQ_Products_Slug] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_IsActive]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Products_IsActive] ON [dbo].[Products]
(
	[IsActive] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_IsFeatured]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Products_IsFeatured] ON [dbo].[Products]
(
	[IsFeatured] ASC
)
WHERE ([IsFeatured]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Price]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Products_Price] ON [dbo].[Products]
(
	[Price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Slug]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Products_Slug] ON [dbo].[Products]
(
	[Slug] ASC
)
INCLUDE([Name],[Price],[ThumbnailUrl],[IsActive]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_IsHomepage]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_IsHomepage] ON [dbo].[Reviews]
(
	[IsHomepage] ASC
)
WHERE ([IsHomepage]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ProductApprv]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductApprv] ON [dbo].[Reviews]
(
	[ProductId] ASC,
	[IsApproved] ASC
)
INCLUDE([Rating],[AuthorName],[Content]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ProductId]    Script Date: 29/6/2026 12:39:11 pm ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductId] ON [dbo].[Reviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiLogs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((1)) FOR [LockoutEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'Vietnam') FOR [Country]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (sysutcdatetime()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT ((0)) FOR [IsReplied]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (N'Percentage') FOR [DiscountType]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [MinOrderAmount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NewsletterSubscribers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NewsletterSubscribers] ADD  DEFAULT (sysutcdatetime()) FOR [SubscribedAt]
GO
ALTER TABLE [dbo].[NewsletterSubscribers] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Vietnam') FOR [ShipCountry]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'COD') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Unpaid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [OrderedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductColors] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('default') FOR [BadgeStyle]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ProductSizes] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsHomepage]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WishlistItems] ADD  DEFAULT (getutcdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_Roles]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_Users]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_Users]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_Roles]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_Users]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_Users]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Users]
GO
ALTER TABLE [dbo].[ContactMessages]  WITH CHECK ADD  CONSTRAINT [FK_ContactMessages_Admin] FOREIGN KEY([RepliedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ContactMessages] CHECK CONSTRAINT [FK_ContactMessages_Admin]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_AdminUser] FOREIGN KEY([ProcessedByAdminId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AdminUser]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[ProductColors]  WITH CHECK ADD  CONSTRAINT [FK_ProductColors_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductColors] CHECK CONSTRAINT [FK_ProductColors_Products]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_CreatedBy]
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD  CONSTRAINT [FK_ProductSizes_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSizes] CHECK CONSTRAINT [FK_ProductSizes_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_Products_ProductId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD CHECK  (([Age]>=(16) AND [Age]<=(120)))
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD CHECK  (([Quantity]>=(1)))
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD CHECK  (([DiscountType]=N'FixedAmount' OR [DiscountType]=N'Percentage'))
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD CHECK  (([DiscountValue]>(0)))
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD CHECK  (([Quantity]>=(1)))
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([PaymentMethod]=N'Stripe' OR [PaymentMethod]=N'VNPay' OR [PaymentMethod]=N'Momo' OR [PaymentMethod]=N'BankTransfer' OR [PaymentMethod]=N'COD'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([PaymentStatus]=N'Refunded' OR [PaymentStatus]=N'Paid' OR [PaymentStatus]=N'Unpaid'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([ShippingFee]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]=N'Refunded' OR [Status]=N'Cancelled' OR [Status]=N'Delivered' OR [Status]=N'Shipped' OR [Status]=N'Processing' OR [Status]=N'Confirmed' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([SubTotal]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
